In [17]:
%pwd

'C:\\Users\\ALESSANDRO\\Documents\\GitHub\\dream-team-fpl-predeiction\\code\\cleaning'

In [18]:
import pandas as pd

# Specify the full file path
#file_path = r'C:\Users\aldi\Documents\GitHub\dream-team-fpl-predeiction\data\players_stats.csv'
file_path = r'C:\Users\ALESSANDRO\Documents\GitHub\dream-team-fpl-predeiction\data\players_stats.csv'

# Import the CSV file as a DataFrame
players_stats = pd.read_csv(file_path)

# Display the DataFrame
players_stats

,Season,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,...,xAG,npxG+xAG,PrgC,PrgP,PrgR,xG_2,xAG_2,xG+xAG,npxG_2,npxG+xAG_2
0,2002-2003,Milenko Ačimovič,si SVN,MF,Tottenham,25,1977,17,4,494,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2002-2003,Clarence Acuña,cl CHI,MF,Newcastle Utd,27,1975,4,2,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2002-2003,Bülent Akın,tr TUR,MF,Bolton,23,1978,1,0,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2002-2003,Niclas Alexandersson,se SWE,MF,Everton,30,1971,7,4,311,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2002-2003,Jérémie Aliadière,fr FRA,"FW,MF",Arsenal,19,1983,3,0,25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11421,2022-2023,Jordan Zemura,zw ZIM,DF,Bournemouth,22,1999,19,17,"1,454",...,1.9,2.2,39.0,45.0,48.0,0.02,0.11,0.14,0.02,0.14
11422,2022-2023,Oleksandr Zinchenko,ua UKR,DF,Arsenal,25,1996,27,26,"2,118",...,1.4,2.8,67.0,227.0,68.0,0.06,0.06,0.12,0.06,0.12
11423,2022-2023,Hakim Ziyech,ma MAR,"FW,MF",Chelsea,29,1993,18,6,661,...,2.2,2.8,20.0,42.0,69.0,0.08,0.30,0.38,0.08,0.38
11424,2022-2023,Kurt Zouma,fr FRA,DF,West Ham,27,1994,25,24,"1,989",...,0.1,2.3,3.0,31.0,1.0,0.10,0.00,0.10,0.10,0.10
11425,2022-2023,Martin Ødegaard,no NOR,MF,Arsenal,23,1998,37,37,"3,127",...,8.1,18.1,83.0,266.0,193.0,0.29,0.23,0.52,0.29,0.52

In [19]:
players_stats = players_stats.drop('Matches', axis=1)

In [20]:
# replace all variable ending in _2 with _90min since they are referring to the stastic for 90 minutes 
new_columns = {col: col.replace('_2', '_90min') for col in players_stats.columns if col.endswith('_2')}
players_stats.rename(columns=new_columns, inplace=True)
print(players_stats.columns)

Index(['Season', 'Player', 'Nation', 'Pos', 'Squad', 'Age', 'Born', 'MP',
       'Starts', 'Min', '90s', 'Gls', 'Ast', 'G+A', 'G-PK', 'PK', 'PKatt',
       'CrdY', 'CrdR', 'Gls_90min', 'Ast_90min', 'G+A_90min', 'G-PK_90min',
       'G+A-PK', 'xG', 'npxG', 'xAG', 'npxG+xAG', 'PrgC', 'PrgP', 'PrgR',
       'xG_90min', 'xAG_90min', 'xG+xAG', 'npxG_90min', 'npxG+xAG_90min'],
      dtype='object')

In [21]:
# clean the Nation variable by remving the lowercase letters at the beginning of the string 
import re
players_stats['Nation'] = players_stats['Nation'].str.replace(r'[a-z\s]', '', regex=True)
players_stats.head(20)

,Season,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,...,xAG,npxG+xAG,PrgC,PrgP,PrgR,xG_90min,xAG_90min,xG+xAG,npxG_90min,npxG+xAG_90min
0,2002-2003,Milenko Ačimovič,SVN,MF,Tottenham,25,1977,17,4,494,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2002-2003,Clarence Acuña,CHI,MF,Newcastle Utd,27,1975,4,2,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2002-2003,Bülent Akın,TUR,MF,Bolton,23,1978,1,0,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2002-2003,Niclas Alexandersson,SWE,MF,Everton,30,1971,7,4,311,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2002-2003,Jérémie Aliadière,FRA,"FW,MF",Arsenal,19,1983,3,0,25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2002-2003,Marcus Allbäck,SWE,FW,Aston Villa,29,1973,19,9,967,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2002-2003,Darren Ambrose,ENG,"FW,MF",Newcastle Utd,18,1984,1,0,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2002-2003,Shola Ameobi,NGA,FW,Newcastle Utd,20,1981,28,8,957,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2002-2003,Darren Anderton,ENG,MF,Tottenham,30,1972,20,18,"1,557",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2002-2003,Tore André Flo,NOR,FW,Sunderland,29,1973,29,23,"1,995",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2002-2003,Pierre-Yves André,FRA,FW,Bolton,28,1974,9,0,180,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2002-2003,Nicolas Anelka,FRA,FW,Manchester City,23,1979,38,38,"3,381",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2002-2003,Julio Arca,ARG,"DF,MF",Sunderland,21,1981,13,7,783,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2002-2003,John Arne Riise,NOR,"DF,MF",Liverpool,21,1980,37,31,"2,899",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2002-2003,Espen Baardsen,NOR,GK,Everton,24,1977,1,1,90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2002-2003,Celestine Babayaro,NGA,"DF,MF",Chelsea,23,1978,19,16,"1,478",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2002-2003,Phil Babb,IRL,DF,Sunderland,31,1970,26,26,"2,314",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2002-2003,Markus Babbel,GER,DF,Liverpool,29,1972,2,2,135,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2002-2003,Chris Baird,NIR,"DF,MF",Southampton,20,1982,3,1,157,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2002-2003,Eirik Bakke,NOR,MF,Leeds United,24,1977,34,31,"2,643",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
players_stats['Pos'] = players_stats['Pos'].str.split(',').str[0]

In [23]:
# each player should appear just one time in the seasos.
#If a player was trasnfered to another PL team during the wiinter window, we have to group them. 

import pandas as pd

# Assuming your DataFrame is named 'players_stats'
# Group by Player and Season, and count the number of unique squads
player_season_counts = players_stats.groupby(['Player', 'Season'])['Squad'].nunique().reset_index()

# Filter the counts where it is higher than one
duplicate_players = player_season_counts[player_season_counts['Squad'] > 1]

# Merge the original DataFrame with the duplicate players
merged_data = pd.merge(duplicate_players, players_stats, on=['Player', 'Season'], how='inner')

# Display the Player, Season, Squad information, and count where count is higher than 1
result = merged_data[['Player', 'Season', 'Squad_x']].rename(columns={'Squad_x': 'Squad'})
result['Count'] = result.groupby(['Player', 'Season'])['Squad'].transform('count')
result = result[result['Count'] > 1].reset_index(drop=True)

print(result)

             Player     Season  Squad  Count
0      Aaron Lennon  2014-2015      2      2
1      Aaron Lennon  2014-2015      2      2
2      Aaron Lennon  2017-2018      2      2
3      Aaron Lennon  2017-2018      2      2
4    Abdoulaye Faye  2007-2008      2      2
..              ...        ...    ...    ...
576   Younès Kaboul  2009-2010      2      2
577   Younès Kaboul  2016-2017      2      2
578   Younès Kaboul  2016-2017      2      2
579      Zat Knight  2007-2008      2      2
580      Zat Knight  2007-2008      2      2

[581 rows x 4 columns]

In [24]:
import os

# Replace NaN values with 0
players_stats.fillna(0, inplace=True)

# Convert 'MP' and 'Min' columns to numeric format
players_stats['MP'] = pd.to_numeric(players_stats['MP'], errors='coerce')
players_stats['Min'] = players_stats['Min'].str.replace(',', '')  # Remove commas
players_stats['Min'] = pd.to_numeric(players_stats['Min'], errors='coerce')  # Convert to numeric format

# Calculate the observation count for each player in each season
players_stats['ObservationCount'] = players_stats.groupby(['Player', 'Season'])['Player'].transform('count')

# Create a subset with players appearing more than once in a season
subset = players_stats[players_stats['ObservationCount'] > 1].copy()

# Perform the custom aggregation
grouped_data = subset.groupby(['Player', 'Season']).agg({
    'Age': 'first',
    'Born': 'first',
    'Squad': 'last',
    'Nation': 'first',
    'Pos': 'first',
    'ObservationCount': 'first',
    'MP': 'sum',
    'Min': 'sum',
    'Starts': 'sum',
    '90s': 'sum',
    'Gls': 'sum',
    'Ast': 'sum',
    'G+A': 'sum',
    'G-PK': 'sum',
    'PK': 'sum',
    'PKatt': 'sum',
    'CrdY': 'sum',
    'CrdR': 'sum',
    'Gls_90min': 'sum',
    'Ast_90min': 'sum',
    'G+A_90min': 'sum',
    'G-PK_90min': 'sum',
    'G+A-PK': 'sum',
    'xG': 'sum',
    'npxG': 'sum',
    'xAG': 'sum',
    'npxG+xAG': 'sum',
    'PrgC': 'sum',
    'PrgP': 'sum',
    'PrgR': 'sum',
    'xG_90min': 'sum',
    'xAG_90min': 'sum',
    'xG+xAG': 'sum',
    'npxG_90min': 'sum',
    'npxG+xAG_90min': 'sum'
    # Add other variables to sum here
}).reset_index()

# Specify the merge keys and update keys
merge_keys = ['Player', 'Season', 'Age', 'Born', 'Nation']
update_keys = ['Squad','MP', 'Min', 'Starts', '90s', 'Gls', 'Ast', 'G+A', 'G-PK', 'PK', 'PKatt',
               'CrdY', 'CrdR', 'Gls_90min', 'Ast_90min', 'G+A_90min', 'G-PK_90min',
               'G+A-PK', 'xG', 'npxG', 'xAG', 'npxG+xAG', 'PrgC', 'PrgP', 'PrgR',
               'xG_90min', 'xAG_90min', 'xG+xAG', 'npxG_90min', 'npxG+xAG_90min']


# Merge the original dataset with the aggregated data
merged_data = players_stats.merge(grouped_data, on=merge_keys, how='left', suffixes=('_x', '_y'))
for key in update_keys:
    merged_data[key + '_x'].update(merged_data[key + '_y'])
    merged_data.drop(columns=[key + '_y'], inplace=True)
    merged_data.rename(columns={key + '_x': key}, inplace=True)

# Drop columns ending with '_y'
merged_data.drop(merged_data.filter(regex='_y$').columns, axis=1, inplace=True)

# Remove duplicate rows
merged_data.drop_duplicates(inplace=True)

# Remove the '_x' suffix from Pos and ObservationCount columns
merged_data.rename(columns={'Pos_x': 'Pos', 'ObservationCount_x': 'ObservationCount'}, inplace=True)

# Export the merged dataset to an xlsx file
output_folder = r'C:\Users\ALESSANDRO\Documents\GitHub\dream-team-fpl-predeiction\data'
output_path = os.path.join(output_folder, 'players_agg.xlsx')
merged_data.to_excel(output_path, index=False)